@page "/main"
@attribute [Authorize]

<PageTitle>Inicio</PageTitle>

<div class="container mt-1">
    <!-- Jumbotron Section -->
    <div class="jumbotron text-center">
        <img src="logo1.jpeg" alt="" class="rounded-circle img-fluid img-thumbnail mt-4" style="width: 140px;">
        <h1 class="display-4"><strong>¡RentCar El Caribe!</strong></h1>
    </div>
    <hr>

    <!-- Cards Section -->
    <div class="row mt-4">
        <!-- Vehículos Disponibles Card -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="cars.jpeg" class="card-img-top" alt="Vehículos Disponibles" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Vehículos Disponibles</strong></h5>
                    <p class="card-text">Explora nuestra flota de vehículos y encuentra el adecuado para tus necesidades de alquiler.</p>
                    <a href="/vehiculos" class="btn btn-primary">Ver Vehículos</a>
                </div>
            </div>
        </div>

        <!-- Alquiler de Vehículos Card -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="rent.jpeg" class="card-img-top" alt="Alquiler de Vehículos" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Alquiler de Vehículos</strong></h5>
                    <p class="card-text">Renta un vehículo de manera fácil y rápida. ¡Descubre la libertad de movilidad!</p>
                    <a href="/rentalInvoices" class="btn btn-success">Alquilar Vehículo</a>
                </div>
            </div>
        </div>
    </div>
</div>
