@inherits LayoutComponentBase

<PageTitle>RentCar</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar d-print-none" style="background-color: darkblue;">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>